<section class="vh-50" style="background-color: #eee;">
  <div class="container py-5 h-auto">
    <div class="px-4 py-5 px-md-5 text-center text-lg-start mx-auto w-100 d-flex justify-content-center">

      <h4>Current page</h4>

    </div>
  </div>
</section>