<section class="container" style="background-color: #eee;">
  <div class="container-fluid py-5 h-50">
    <div class="row d-flex justify-content-center h-100">
      <div class="row d-flex justify-content-center align-items-start">
        <div class="col-md-12 col-xl-4 d-flex flex-column gap-3 w-75">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body text-center">

              <h4 class="m-2 p-2">Bienvenido/a a <strong>Domingou</strong>!</h4>
              <div class="d-flex flex-row m-5">
                <div class="col w-50">
                  <p>Si eres usuario/a de nuestra app, loguéate aquí:</p>
                  <a href="/login" type="button" class="btn btn-dark">Login</a>
                </div>
                <div class="col w-50">
                  <p>De lo contrario puedes registrarte a continuación:</p>
                  <a href="/register" type="button" class="btn btn-dark">Register</a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>