<section class="vh-50" style="background-color: #eee;">
  <div class="container py-5 h-auto">
    <div class="px-4 py-5 px-md-5 text-center text-lg-start mx-auto w-100 d-flex justify-content-center">

      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card">
          <div class="card-body py-5 px-md-5">
            <form id="restoreForm">

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="email" class="form-control" name="email" placeholder="joe@doe.com" required />
                <label class="form-label" for="email">Email address*</label>
              </div>

              <!-- Submit button -->
              <div>
                <a class="btn btn-dark btn-block mb-4" href="/login">
                  Back
                </a>
                <button type="submit" class="btn btn-warning btn-block mb-4">
                  Send reset link
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<script src="/js/restore.js"></script>