<section class="vh-50" style="background-color: #eee;">
  <div class="container py-5 h-auto">
    <div class="px-4 py-5 px-md-5 text-center text-lg-start mx-auto w-100 d-flex justify-content-center">

      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card">
          <div class="card-body py-5 px-md-5">
            <form id="restorePasswordForm">

              <div class="mb-3">
                <label class="form-label">New password</label>
                <input type="password" id="new-password" name="new-password" class="form-control" placeholder="*****" required />
              </div>
              <div class="mb-3">
                <label class="form-label">Re-enter password</label>
                <input type="password" id="new-password-2" name="new-password-2" class="form-control" placeholder="*****" required />
              </div>
              <div class="mb-3">
                <button type="submit" class="btn btn-success">Reset</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<script src="/js/restorePassword.js"></script>