a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #343433;
}
img {
  max-height: 200px;
  width: auto;
  object-fit: scale-down;
}
.product-description {
  text-overflow: ellipsis;
  max-height: 100px;
  overflow: hidden;
}

.welcome-message{
  text-align: right;
  vertical-align: middle;
}